<section id="Lcoation" class="py-16 bg-gray-100">
<div class="container mx-auto px-4">
<h1 class="font-extrabold text-xl">Location Outlite</h1>
<h3 >Explore Your Options</h3>

</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 text-slate-500">Citra Raya Garden 6</h1>
<h3 class="text-sm text-slate-500">Jl. Simatupang Orderby dekat masjid ANnugrah</h3>
<h3 class="text-sm text-slate-500 mt-5"><i class="fas fa-map-marker-alt text-slate-500 mr-2"></i> 24 Km</h3>  
<hr class="mt-3 h-0 bg-gray-300 ">
</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 text-slate-500">Citra Raya Garden 6</h1>
<h3 class="text-sm text-slate-500">Jl. Simatupang Orderby dekat masjid ANnugrah</h3>
<h3 class="text-sm text-slate-500 mt-5"><i class="fas fa-map-marker-alt text-slate-500 mr-2"></i> 24 Km</h3>  
<hr class="mt-3 h-0 bg-gray-300 ">
</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 text-slate-500">Citra Raya Garden 6</h1>
<h3 class="text-sm text-slate-500">Jl. Simatupang Orderby dekat masjid ANnugrah</h3>
<h3 class="text-sm text-slate-500 mt-5"><i class="fas fa-map-marker-alt text-slate-500 mr-2"></i> 24 Km</h3>  
<hr class="mt-3 h-0 bg-gray-300 ">
</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 text-slate-500">Citra Raya Garden 6</h1>
<h3 class="text-sm text-slate-500">Jl. Simatupang Orderby dekat masjid ANnugrah</h3>
<h3 class="text-sm text-slate-500 mt-5"><i class="fas fa-map-marker-alt text-slate-500 mr-2"></i> 24 Km</h3>  
<hr class="mt-3 h-0 bg-gray-300 ">
</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 text-slate-500">Citra Raya Garden 6</h1>
<h3 class="text-sm text-slate-500">Jl. Simatupang Orderby dekat masjid ANnugrah</h3>
<h3 class="text-sm text-slate-500 mt-5"><i class="fas fa-map-marker-alt text-slate-500 mr-2"></i> 24 Km</h3>  
<hr class="mt-3 h-0 bg-gray-300 ">
</div> 
<div class="container mx-auto px-4">
<h1 class="text-xl mt-4 font-bold text-amber-600">SEE ALL</h1>

</div> 
</section>